In [1]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
cociente = numero1 // numero2
potencia = numero1 ** numero2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(cociente)
print(potencia)

13
7
30
3.3333333333333335
1
3
1000

In [2]:
# 5.2 Operadores de asignación
# Se tiene: =, +=, -=, *=, /=, **=
numero = 5
numero = numero + 3
print(numero)

8

In [3]:
# La operación anterior también se puede expresar de la siguiente manera:
numero = 5
numero += 3
print(numero)

8

In [4]:
# Lo mismo se puede hacer con todos los casos, incluso la potencia
# Veamos otro ejemplo:
numero = 5
numero = numero ** 3
print(numero)

125

In [5]:
# La operación anterior también se puede expresar de la siguiente manera:
numero = 5
numero **= 3
print(numero)

125

In [6]:
# Ejemplo de igualdad ==
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [7]:
# Con las cadenas funciona igual
nombre1 = "Juan"
nombre2 = "Juan"
nombre1 == nombre2

True

In [8]:
# 5.4 Operadores lógicos
# Se tiene: and, or, not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [9]:
numero1 < numero2

True

In [10]:
# El not invierte el resultado
not(numero1<numero2)

False

In [11]:
numero1<numero2 and numero3<numero4

True

In [12]:
# Tambien puedes utilizar parentesis para ordenar tu operación
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True

In [13]:
# Miremos un ejemplo:

aula = ["Juan", "Daniel", "Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"

In [14]:
# ¿Diego está en aula?
alumno1 in aula

False

In [15]:
# ¿Juan está en aula?
alumno2 in aula

True

In [16]:
# ¿Diego no está en aula?
alumno1 not in aula

True

In [17]:
# ¿Juan no está en aula?
alumno2 not in aula

False

In [18]:
aula1 = ["Juan", "Daniel", "Ruben"]
aula2 = ["Juan", "Daniel", "Ruben"]
# A continuación vamos a indicar que aula3 va a compartir el mismo objeto que aula1
aula3 = aula1

In [19]:
# ¿aula3 comparte el mismo objeto que aula1 ?
aula3 is aula1

True

In [20]:
# ¿ aula3 comparte el mismo objeto que aula2 ?
aula3 is aula2

False

In [21]:
# ¿ aula2 comparte el mismo objeto que aula1 ?
aula2 is aula1

False

In [24]:
aula1.append("Diego")

In [23]:
# Al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [25]:
# Al imprimir los elementos de la lista aula3 se observa
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego', 'Diego']

In [26]:
# Al imprimir los elementos de la lista aula2 se observa
print(aula2)

['Juan', 'Daniel', 'Ruben']